<a href ="{% url 'book-detail' book_id=book.id%}">
    {{ book.title }}</a>
<p>{{ book.text }}</p>
Author: <i>{{ book.author.username }}</i>
{{ book.date_publish|date:"d-m-Y" }}<br>
<a href="{% url 'book-like' book_id=book.id redirect_url=redirect_url %}">Likes {{ book.count_likes }}</a><br><br>
<hr>
{% if with_comment %}
    {% for comment in book.comments.all %}
        <p> Author: {{ comment.user.username }} </p>
        <p>  {{ comment.text }} </p>
        <p> Date {{ comment.date|date:"d-m-Y-H:i:s" }}  Likes {{ comment.count_likes }}</p><hr>
    {% endfor %}
{% endif %}
