<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ user.username }}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% for book in books %}
    <h1><a href ="{% url 'book-detail' book_id=book.id%}">{{ book.title }}</a></h1>
    <p>{{ book.text }}</p>
    <i>{{ book.author.username }}</i><br>
    {{ book.date_publish|date:"d-m-Y" }}<br>
    <i><a href="{% url 'book-like' book_id=book.id%}">likes {{ book.count_likes }}</a></i><br><br>
{% endfor %}
</body>
</html>